.alvaro{

    color: grey !important;
}

.color-boton{

    background-color: black;

}

.album{

    background-color: black !important;
}

.header{

    background-color: grey !important;
}

.h-input{

    background-color: white !important;
}