.alvaro{

    color: grey !important;
}

.color-boton{

    background-color: white;

}

.album{

    background-color: white !important;
}

.header{

    background-color: grey !important;
}

.h-input{

    background-color: whitesmoke !important;
}