.massimo{

    color: blueviolet!important;
 
 }
 
 .colornegro{
 
     color: brown!important;
 }
 
 .btn-outline-info{
 
     color: brown!important;
 }
 
 .album{
     background-color: rgb(3, 3, 3) !important;
 
 }
 
 .p-3 mb-2 bg-white text-dark{
 
     background-color: black;
 }
 .dorado{
     color: goldenrod !important;
 }
 
     