.regina{
    font-family: 'EB Garamond', serif;
    color: darkgreen  !important;
}

.verde{
    font-family: 'EB Garamond', serif;
    color: darkgreen !important;
}
.nav{
    background-color: coral !important;
}

.letrablanca{
    color: rgb(255, 255, 255) !important;
}

.tarjeta1{
    overflow: hidden;
}

.tarjeta1
img{

    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 170%;

}

.tarjeta2
img{
    height: auto;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 50%
}

.tarjeta3
img{
    height: auto;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-90%, -50%);
    width: 50%;
}

.tarjeta4
img{
    height: auto;
    position: absolute;
    top:50%;
    left:70%;
    transform: translate(-90%, -40%);
    width: 70%;
}


@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap');